<div class="card info-card revenue-card">
  <div class="card-body">
    <h5 class="card-title">History <span>| This day</span></h5>
    <div class="d-flex flex-column" *ngIf="!isLoading() && dataset()">


        <div class="d-flex pt-4">
          <div class="card-icon rounded-circle d-flex" style="padding-top: 24px;">
            <span style="font-size: 60px;">🔥</span>
          </div>
          <div  class="ps-2">
            <h6  class="pt-2">{{ getMax().temp }}°C</h6>
            <div class=" d-flex">
              <p class="fw-bold small ps-1">{{getMax().date | date: "mediumDate" }}</p>
            </div>

          </div>
      </div>  


        <div class="d-flex pt-4">
          <div class="card-icon rounded-circle d-flex" style="padding-top: 24px;">
            <span style="font-size: 50px;">❄️</span>
          </div>
          <div  class="ps-1">
            <h6  class="pt-2">{{getMin().temp}}°C</h6>
            <div class=" d-flex">
              <p class="fw-bold small ps-1">{{ getMin().date | date: "mediumDate" }}</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>