<div class="pagetitle">
  <div class="d-flex">
    <div class="col-10">
      <h1>Today</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
          <li class="breadcrumb-item active">Today</li>
        </ol>
      </nav>
    </div>
    <div class="col-2">
      <input type="date" min="1941-01-01" max="{{getMaxDayForecast()}}" [ngModel]="date | date:'yyyy-MM-dd'" (ngModelChange)="changeDay($event)" class="form-control mt-2">
    </div>
  </div>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-xxl-4 col-md-6">
          <app-card-temp-day></app-card-temp-day>
        </div>
        <div class="col-xxl-4 col-md-6">
          <app-card-min-max-day></app-card-min-max-day>
        </div>
        <div class="col-xxl-4 col-xl-12">
            <app-card-moon-phase></app-card-moon-phase>
        </div>
        <div class="col-12">
            <app-card-same-day></app-card-same-day>
        </div>



      </div>
    </div><!-- End Left side columns -->


  </div>
</section>