<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/cloudy.png" alt="">
      <span class="ps-1 pt-2">ClimaCity</span>
    </a>
  </div><!-- End Logo -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <select class="form-select" aria-label="Default select example pw-4" (change)='changeCity($event)'>
        <option [selected]="city.city_code === citiesStore.selectedCity().city_code" *ngFor="let city of citiesStore.cities()" [value]="city.city_code">{{city.city_desc}}</option>
      </select>
    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->
